<div id="title">
	<h1>
		{% unless site.email == "" %}
			<a target="_blank" id="email-ic" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a>
		{% endunless %}

		{% unless site.git == "" %}
			<a target="_blank" id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>
		{% endunless %}

		{% unless site.twitter == "" %}
			<a target="_blank" id="twitter-ic" href="{{site.twitter}}"><i class="fa fa-twitter"></i></a>
		{% endunless %}		

		{% unless site.stackoverflow == "" %}
			<a target="_blank" id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
		{% endunless %}

		<a id="sitename" href="/">{{site.title}}</a>
	</h1>

	<p>{{site.description}}</p>
	<hr/>
  
	{% include nav-links.html %} 
  
</div>

